@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  background: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
  padding: 20px;
}

a.no-style {
  color: inherit;
  text-decoration: none;
}

.custom-card {
  background: white;
  border: 2px solid #f1f1f1;
  border-radius: 25px;
}

.custom-card .card-footer {
  background: none;
  font-size: 1.5em;
  text-align: center;
}
